*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
header{
	width: 100%;
	background: black;
	
}

nav{
	text-align: center;
}


#list li{
	list-style-type: none;
	display: inline;
	padding: 10px 30px;
	font-size: 2rem;
	position: relative;
	top: 30px;
}
a:hover {
	color: white;

}

a{
	text-decoration: none;
	color: red;
}

#intro-box{
	font-family: arial;
	background-color: #8E009A;
	padding: 14px 10px;
	width: 100%;
}

#backg{
	min-height: 650px;
	background: url("../images/wall-paper.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

.tex{
	text-align: justify;
	width: 700px;
}

#main_content{
	width: 100%;
	background-color: black;
	padding: 10px
}
.one {

	display: inline-block;
	padding: 10px 10px;
	margin: 10px;
	height: 350px;
	width: 27%;
	
}
#box1 {
	background-color: #ADD3FF;
	border: 10px solid #9EADE8;
	margin-left: 50px;
}

img{
	width: 35%;
	height: 50%;
}

#box2 {
	background-color: #AF81CC;
	border: 10px solid #713299;
}

#box3 {
	background-color: #CCB181;
	border: 10px solid #FFDD7A;
}
#box4 {
	background-color: #8E009A;
	width: 100%;
}

video{
	width: 300px;
	height: 250px;
}

#footer{
	height: 10%;
	width: 100%;
	background: black; 
	font-style: italic;
	color: white;
	padding: 10px 20px;
	text-align: center;
}
